body {
    background-image: url('/background.gif');
    background-size: cover; 
    background-repeat: no-repeat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

img {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  margin-left: 41%;

}
h2{
  margin-left: 34%;
  color:#5b9bd5;
}

.main {
  display: grid;
  justify-content: center;
}

.form {

  border: 2px rgb(240, 230, 230) solid;
  width: 40rem;
  height: fit-content;
  background-color: transparent;
  backdrop-filter: blur(30px);
  border-radius: 1rem;
  padding-top: 3rem;

}

label {
  display: flex;
  color:rgb(239, 243, 244);
  flex-direction: column;
  margin-left: 2px;
}
span{
  color: white;
}
.email, .password {
  height: 40px;
  border-radius: 2rem;
}
.validpass{
margin-inline-start: 40%;
}
.erroremail{
  margin-inline-start: 30%;
}
.validemail{
  margin-inline-start: 38%;
}
.errorpass{
  margin-inline-start: 20%;
}

button {
  border-radius: 2rem;
  margin-top: 3rem;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #5b9bd5;
  color: white;
  border: none;
  cursor: pointer;

}

.button-container {
  display: flex;
  justify-content: center;
  /* Centers the button horizontally */
}



button:hover {
  background-color: #60eb14;
}